[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
itsdangerous = "*"
peewee = "*"
wtf-peewee = "*"
Flask = "*"
Flask-Admin = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
WTForms = "*"

[requires]
python_version = "3.7"
