{% extends 'index.html' %}

{% block main %}
<div class="row">
  <div class="col-xs-6 col-lg-6 col-lg-offset-1 col-xl-5 col-xl-offset-2">
    <h4>Adminpanel</h4>
  </div>
  <div class="col-xs-6 col-lg-4 col-xl-3 text-right">
    <span id="disable-registration">
      <button class="btn btn-sm btn-warning-outline">
        Anmeldung deaktivieren
      </button>
    </span>
  </div>
</div>
<div class="row">
  <div id="admin-panel" class="col-md-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2">
  </div>
</div>
{% endblock %}
