<form name="form" novalidate class="form-horizontal" ng-submit="participant.save()">
  <div class="form-group" ng-class="form.$submitted && (form.firstname.$error.required || form.lastname.$error.required) ? 'has-error' : ''">
    <label for="firstname" class="col-md-4 control-label">Name</label>
    <div class="col-md-4">
      <input name="firstname" type="text" placeholder="Max" class="form-control" ng-model="participant.firstname" required>
    </div>
    <div class="col-md-4">
      <input name="lastname" type="text" placeholder="Musternöthe" class="form-control" ng-model="participant.lastname" required>
    </div>
    <span id="helpBlock" class="help-block col-md-offset-2 col-md-10" ng-show="form.$submitted && (form.firstname.$error.required || form.lastname.$error.required)">Bitte trage Vor- und Nachnamen ein. So wirst du bei der Absolventenfeier aufgerufen.</span>
  </div>
  <div class="form-group" ng-class="{'has-error': form.email.$error.pattern || form.$submitted && form.email.$error.required}">
    <label for="email" class="col-md-4 control-label">Email</label>
    <div class="col-md-8">
      <div class="input-group">
        <input type="text" placeholder="max.musternoethe" name="email" class="form-control" ng-pattern="/^(\w*\d*\.*)*$/" ng-model="participant.email" required>
        <div class="input-group-addon">{{ participant.mailDomain }}</div>
      </div>
    </div>
    <span id="helpBlock" class="help-block col-md-offset-2 col-md-10" ng-show="form.$submitted && (form.email.$error.required)">Bitte trage Deine TU-Mailadresse ein.</span>
    <span id="helpBlock" class="help-block col-md-offset-2 col-md-10" ng-show="form.email.$error.pattern">Du kannst dich nur mit einer gültigen <code>@tu-dortmund</code>-Mailadresse eintragen.</span>
  </div>
  <div class="form-group" ng-class="{'has-error' : form.$submitted && form.degree.$error.required}">
    <label for="degree" class="col-md-4 control-label">Abschluss</label>
    <div class="col-md-8">
      <label class="radio-inline" ng-repeat="degree in participant.degrees">
        <input type="radio" name="degree" ng-model="participant.degree" ng-value="degree.id" required>{{ degree.name }}
      </label>
    </div>
    <span id="helpBlock" class="help-block col-md-offset-2 col-md-10" ng-show="form.$submitted && form.degree.$error.required">Bitte triff eine Auswahl.</span>
  </div>
  <div class="form-group" ng-class="{'has-error' : form.$submitted && form.title.$error.required}">
    <label for="title" class="col-md-4 control-label">Titel der {{ participant.degree ? participant.degrees[participant.degree].name + '-' : ' ' }}Arbeit</label>
    <div class="col-md-8">
      <input type="text" name="title" class="form-control" ng-model="participant.title" required>
    </div>
    <span id="helpBlock" class="help-block col-md-offset-2 col-md-10" ng-show="form.$submitted && form.title.$error.required">Bitte gibt hier den Titel Deiner Abschlussarbeit ein (schön mit TeX und so).</span>
  </div>
  <div class="form-group" ng-class="{'has-error' : form.$submitted && form.guests.$error.required}">
    <label for="guests" class="col-md-4 control-label">Anz. Gäste</label>
    <div class="col-md-8">
      <input type="number" name="guests" class="form-control" ng-model="participant.guests" min="0" required>
    </div>
    <span id="helpBlock" class="help-block col-md-offset-2 col-md-10" ng-show="form.$submitted && form.guests.$error.required">Wie viele Gäste bringst du mit (einschließlich Dir)?</span>
  </div>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <button id="submit" type="submit" class="btn btn-default">Eintragen</button>
    </div>
  </div>
</form>
